:root {
    --background: #000000;
    --primary: #ff69b4;
}

/* Basics */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ff6bcb;
    background-color: black;

    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Navbar */

header nav ul {
    display: flex;
    gap: 20px;
    width: 100%;
    padding-left: 10px;
    margin: 0;

    border-bottom: white 2px solid;
    color: lightskyblue;

    list-style-type: none;
}

header ul li {
    padding: 7px 15px;
}

.highlight {
    font-weight: 700;
}

/* Title */

h1 {
    color: lightgreen;
}

/* Search/input box */

input, select {
    background: none;
    color: white;

    border: none;
    border-bottom: 2px rgba(52, 52, 52, 0.812) solid;

    width: 200px;
}

select {
    text-align: center;
}

input:focus, select:focus {
    outline: none;
    border-color: aquamarine;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search/input svg */

button {
    background: none;
    border: none;
    transition: transform 0.1s ease-in-out;
}

button:hover > svg {
    transform: scale(1.1);
    animation: wiggle 0.8s ease-in-out infinite;
}

svg {
    color: white;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(-3.5deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(3.5deg);
    }
}

/* Categorie */

#categorie {
    margin-top: 0;
}

/* List */

li {
    transition: color 0.2s ease;
}

li:hover {
    text-decoration: underline;
    transform: scale(1.01);
}

body > ul {
    padding-left: 0px;
}

/* Show buttons */

.show-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.show-buttons a, .show-buttons button {
    display: inherit;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: var(--primary);


    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    padding: 5px 10px;
    transition: transform 0.1s ease-in-out;
    border: 2px lightblue solid;
    border-radius: 3px;
}

.show-buttons a:hover, .show-buttons button:hover {
    transform: scale(1.1);
}

.show-buttons a:hover svg, .show-buttons button:hover svg {
    animation: wiggle 0.8s ease-in-out infinite;
}

/* Notification */

#notif {
    display: block;
    position: fixed;
    top: 50%;
    left: 25%;
}

.flash {
    position: fixed;
    right: 0;
    top: 6%;
    padding: 12px 30px;
    overflow: hidden;
    background-color: #121212;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}

.flash svg {
    color: inherit;
    padding-left: 2%;
}

#error {
    color: rgb(255, 139, 139);
    border: solid rgba(255, 152, 152, 0.591) 4px;
    border-right: none;
}

#success {
    color: rgb(139, 255, 139);
    border: solid rgba(173, 255, 182, 0.591) 4px;
    border-right: none;
}

#warning {
    color: rgb(253, 255, 139);
    border: solid rgba(252, 255, 173, 0.591) 4px;
    border-right: none;
}

@keyframes slide {
    0% {
      width: 0px;
      opacity: 0;
    }
    20%, 80% {
      width: 22%;
      opacity: 1;
    }
    100% {
      width: 0px;
      opacity: 0;
    }
}