:root {
    --background-color: #000000;
    --primary-color: #ffffff;
    --icon-color: #ffffff;
}

.dark-mode {
    --background-color: #000000;
    --primary-color: #ff69b4;
    --background: repeating-linear-gradient(
        -55deg,
        #000000,
        #000000 20px,
        #0f0f0f 20px,
        #0f0f0f 25px
    );

    --title-color: #90ee90;
    --navbar-color: #87cefa;

    --border-color: #2a2a2a;

    --icon-color: #ffffff;
    --input-color: #ffffff;
    --input-border: #343434cf;
    --input-border-active: #7fffd4;

    --button-background: #000000;

    --notif-background: #121212;
}

.light-mode {
    --background-color: #e8e8e8;
    --primary-color: #f00078;
    --background: repeating-linear-gradient(
        -55deg,
        #e8e8e8,
        #e8e8e8 20px,
        #ececec 20px,
        #ececec 25px
    );

    --title-color: #00d400;
    --navbar-color: #0089df;

    --border-color: #bbbbbb;

    --icon-color: #000000;
    --input-color: #000000;
    --input-border: #343434cf;
    --input-border-active: #00ffaa;

    --button-background: #ffffff;

    --notif-background: #4d4d4d;
}

/* Basics */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--primary-color);
    background-color: var(--background-color);
    background: var(--background);
    
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Navbar */

header {
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 20px;
    width: 100%;
    padding-left: 10px;
    margin: 0;

    background-color: var(--background-color);
    border-bottom: var(--border-color) 1px solid;
    box-shadow: 0px 1px 10px var(--border-color) ;
    color: var(--navbar-color);
    
    list-style-type: none;
    font-size: 20px;
}

header ul li {
    padding: 7px 15px;
}

.highlight {
    font-weight: 700;
}

/* Dark/light mode button */

#theme-select {
    display: flex;
    position: fixed;
    top: 58px;
    right: 15px;
}

.light-mode > #theme-select > svg:last-child {
    display: none;
}

.dark-mode > #theme-select > svg:first-child {
    display: none;
}

/* Title */

h1 {
    color: var(--title-color);
    font-size: 80px;
    text-align: center;
}

/* Search/input box */

input, select {
    background: none;
    color: var(--input-color);
    font-size: 17px;

    border: none;
    border-bottom: 2px var(--input-border) solid;

    width: 200px;
    height: 20px;
}

select {
    text-align: center;
    height: 24px;
}

input:focus, select:focus {
    outline: none;
    border-color: var(--input-border-active);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search/input svg */

button {
    background: none;
    border: none;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

button:hover > svg {
    animation: wiggle 0.8s ease-in-out infinite;
}


svg {
    color: var(--icon-color);
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(-3.5deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(3.5deg);
    }
}

/* Categorie */

#categorie {
    margin-top: 0;
}

/* List */

li:hover {
    text-decoration: underline;
    transform: scale(1.01);
}

body > ul {
    padding-left: 0px;
}

/* Actions */

.action-form {
    justify-content: end;
    align-items: end;
    gap: 20px;
}

.show-actions {
    display: inline-flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 240px;
}

.inputs > input {
    padding: 2px 6px;
    width: 100%;
}

.show-actions > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Show buttons */

.show-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.show-buttons a, .show-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--button-background);
    color: var(--primary);

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    padding: 8px 15px;
    transition: transform 0.1s ease-in-out;
    border: 2px lightblue solid; 
    border-radius: 3px;
    height: max-content;
    width: max-content;
}

.show-buttons a:hover, .show-buttons button:hover {
    transform: scale(1.05);
}

.show-buttons a:hover svg, .show-buttons button:hover svg {
    animation: wiggle 0.8s ease-in-out infinite;
}

/* Notification */

#notif {
    display: block;
    position: fixed;
    top: 50%;
    left: 25%;
}

.flash {
    position: fixed;
    right: 0;
    top: 6%;
    padding: 12px 30px;
    overflow: hidden;
    background-color: var(--notif-background);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}

.flash svg {
    color: inherit;
    padding-left: 2%;
}

#error {
    color: #ff8b8b;
    border: solid #ff989897 4px;
    border-right: none;
}

#success {
    color: #8bff8b;
    border: solid #adffb697 4px;
    border-right: none;
}

#warning {
    color: #fdff8b;
    border: solid #fcffad97 4px;
    border-right: none;
}

@keyframes slide {
    0% {
      width: 0px;
      opacity: 0;
    }
    20%, 80% {
      width: 330px;
      opacity: 1;
    }
    100% {
      width: 0px;
      opacity: 0;
    }
}

/* Comments */

.comments {
    height: 100%;
    width: 80%;
    margin: 20px 0;
    display: grid;
    gap: 15px;
    grid-template: max-content / 50% 50%;
}

.comment {
    display: flex;
    gap: 10px;
    padding: 6px 6px;
    border: var(--navbar-color) solid 2px;
    border-radius: 10px;
    width: 95%;
    justify-content: space-between;
}

.comment .show-buttons{
    flex-direction: column;
    align-items: center;
}

.comment-stuff {
    width: 100%;
}

.name-time {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.comment-body {
    padding-left: 25px;
    display: inline-block;
}